@import "tailwindcss";

@theme {
  --color-bg: white;
  --color-accent: #f1f2f4;
  --color-fg: black;
  --color-hv: #e0e0e0;
}

@layer base {
  .dark {
    --color-bg: #3f3f3f;
    --color-accent: #4f4f4f;
    --color-fg: white;
    --color-hv: #747474;
  }
}